<!-- <div
    style="
        border-radius: 29px;
        background: #1b2223;
        box-shadow: inset 12px 12px 25px #121617, inset -12px -12px 25px #242e2f;
    "
    class="w-[40rem] p-5"
>
    <div class="flex flex-col md:flex-row p-4">
        <div class="w-full grid place-content-center">
            <img
                style="
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                        rgba(0, 0, 0, 0.12) 0px -12px 30px,
                        rgba(0, 0, 0, 0.12) 0px 4px 6px,
                        rgba(0, 0, 0, 0.17) 0px 12px 13px,
                        rgba(0, 0, 0, 0.09) 0px -3px 5px;
                "
                class="w-auto h-[30rem] object-contain rounded-sm"
                src="../../../assets/initial/hombre-fotografo-sonriendo-mientras-sostiene-camara-bosque.jpg"
                alt=""
            />
        </div>

        <div class="w-full p-5">
            <ng-container *ngFor="let details of details">
                <div class="flex flex-col gap-2 p-2">
                    <h5>{{ details.title }}</h5>
                    <p>{{ details.text }}</p>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="text-center gap-5 flex flex-col p-10">
        <p>
            Soy un apasionado cocinero que decidió cambiar de profesión y se
            graduó del bootcamp en ISDI Coders. Durante mi experiencia laboral
            en el mundo de la gastronomía, aprendí la importancia del trabajo en
            equipo, la resolución de problemas, el control del estrés bajo
            presión y muchas otras habilidades valiosas.
        </p>
        <p>
            Durante mi bootcamp en ISDI Coders, tuve la oportunidad de trabajar
            en el proyecto "Tattoo Center", donde pude aplicar mis conocimientos
            en el desarrollo web. Participé en la creación de la interfaz de
            usuario utilizando tecnologías como HTML, React/Redux, CSS, Sass y
            TypeScript.Además, adquirí experiencia en el lado del servidor
            utilizando NodeJS, ExpressJS y MongoDB para el backend del proyecto.
            También utilicé Jest para las pruebas unitarias. Valorizo el trabajo
            en equipo como una forma de alcanzar metas ambiciosas.
        </p>
        <p>
            Creo que la colaboración efectiva, la comunicación clara y la
            disposición para aprender de mis compañeros son fundamentales para
            el éxito en cualquier proyecto. Estoy emocionado de seguir
            aprendiendo y trabajando con personas talentosas y comprometidas, y
            estoy seguro de que juntos podemos lograr grandes cosas.
        </p>
    </div>
</div> -->
